iframe {
    /* Manipulação da borda */
    border: none;
    height: 900px;
    width: 100%;
  }
.video1{
  height: 500px;
  width: 50%;
}
.video2{
  height: 500px;
  width: 50%;
}
.um{
  
}
.dois{

}