body {
  background-color: black;
}
.titulo{
  color: aliceblue;
  margin: 10 auto;
  font-size: 50px;
  text-align: center;
  border-radius: 20px;
  background-color:blue;
}
iframe {
  /* Manipulação da borda */
  border: none;
  height: 900px;
  width: 100%;
}

.videos {
  display: flex;
  justify-content: space-between;
}

.video1,
.video2 {
  width: 47%;
  height: 400px;
}

.texto {
  background-color: aqua;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  width: 95%;
}
