body {
  background-color: black;
}

.titulo {
  color: aliceblue;
  margin: 20 auto;
  margin-left: 25%;
  font-size: 50px;
  text-align: center;
  border-radius: 20px;
  background-color: blue;
  width: 50%;

}

iframe {
  /* Manipulação da borda */
  border: none;
  height: 900px;
  width: 100%;
}

.videos {
  display: flex;
  justify-content: space-between;
}

.video1,
.video2 {
  width: 47%;
  height: 400px;
}

.video3,
.video4 {
  width: 47%;
  height: 400px;
  margin-left: 25%;
}

.texto {
  background-color: aqua;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  width: 95%;
}

.duas-colunas-imgDRT {
  display: flex;
}

.duas-colunas-imgDRT img {
  margin: 10px 200px;
}

.duas-colunas-imgDRT p {
  width: 50%;
  margin: auto auto;
  font-size: 50px;
}